$color-text-darck: #1F2628;
$color-text-light: #1F2628;
$color-lignt: #23A79C;
$color-darck: #1B8078;
$border-color: #E0E7EB;
$symbol-modal-color: #c4c4c4;
$input-bg-color: #e4e4ec;
$bg-color: #fff;
$border-size: 2px;
$tablet-min-width: 1024px;

@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}


