@font-face {
  font-family: Trueno;
  font-weight: 700;
  src: url(./TruenoBold/TruenoBd.otf);
}

@font-face {
  font-family: Trueno;
  font-weight: 600;
  src: url(./TruenoBold/TruenoBd.otf);
}

@font-face {
  font-family: Trueno;
  font-weight: 400;
  src: url(./TruenoBold/TruenoUltLt.otf);
}