@use '../../styles/mixin.scss' as mixin;

.form-result {
  display: flex;
  justify-content: space-between;
  gap: mixin.$gap-space;

  &__title {
    font-size: 26px;
    color: mixin.$color-text-result;
    font-weight: bold;
  }

  &__calculation {
    font-size: 32px;
    font-weight: bold;
    display: flex;
    gap: mixin.$gap-space;
    color: mixin.$color-number-result;
  }

  &__calculation-symbol {
    color: mixin.$color-number-result;
  }

  &__calculation--red {
    color: mixin.$color-number-result-red;
  }
}